html {
  scroll-behavior: smooth;
}
:root {
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #F3F3F3;
   text-decoration: none;

}

*{
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

body{
  width: 100vw;
  position:relative;
  overflow-x: hidden;
}

.custom-navbar {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  height: 54px; 
  width: auto;
}

.navbar-nav .nav-link {
  font-size: 20px;
  color: #242424;
  margin-right: 10px;
  margin-left: 25px;
}

.navbar-nav .nav-link:hover {
  color: #333;
  animation-name: hoverm;
  animation-duration: 2s;
}
@keyframes hoverm {
  50% {color: #4f4f4f; border-bottom:  1px solid #4f4f4f; opacity: 1;}
  100% {padding: 10px 20px; opacity: 2; color: #4f4f4f; background-color: #F3F3F3; border-radius: 8px;}
}
.signBtn button{
  margin: 10px;
  border-radius: 10px;
  padding: 10px 30px;
  border: 1px solid #4f4f4f;
  background-color: transparent;
  color: #242424;
  font-size: 20px;
}
.signBtn button:hover{
  color: #EAE9E9;
  background-color: #4f4f4f;
  animation-name: hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.signBtn .signUp{
  color: #EAE9E9;
  background-color: #4f4f4f;
  
}

/* Hero styling start here */
.hero {
  position: relative;
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #4f4f4f;
}

.hero-content {
  z-index: 2;
  max-width: 1000px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 1rem;
  font-weight: 750;
  line-height: 1.2;
}

.highlight {
  color: #2ba24c;
  display: inline;
  justify-content: flex-end;
  position: relative;
  font-weight: 640;
  letter-spacing: 1px;

}
.highlight-red {
  color: #e43e2b;
  font-size: 2.5rem;
  position: absolute;
  top: 75%;
  left: 40%;
}
.hero p {
  margin-top: 4rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: red;
  color: white;
  padding: 1rem 5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  animation-name: btn-animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}
@keyframes btn-animate {
  0% {padding: 1rem 8rem; box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;}
  50% {padding: 1rem 4rem; box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; border-radius: 20px;}
  100% {padding: 1rem 8rem; box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;}
}


.hero-image {
  position: absolute;
  top: 90%;
  bottom: 0;
  width: 100%;
  margin-top: 2.5rem;
  max-width: 1102px;
  max-height: 784px;
  z-index: 1;
}
/* rating style start here */
.rating{
  padding-top: 40%;
}
.rating h2 {
  font-size: 50px;
  margin-bottom: 1rem;
  font-weight: 750;
  line-height: 1.2;
  color: #4f4f4f;
}
.card-box {
  border: none;
}
.rating-star {
  color: #EDCB50;
  font-size: 3rem;
  font-weight: 400;
  border-radius: 40px;
}
.reviews {
  font-size: 1.2rem;
  font-weight: 400;
  color: #7F848D;
}
.howItWorks{
  padding-top: 5%;
}
.padding-top{
  padding-top: 5%;
}
.howItWorks h2 {
  font-size: 50px;
  margin-bottom: 1rem;
  font-weight: 750;
  line-height: 1.2;
  color: #4f4f4f;
}
.howItWorks p {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #7F848D;
}
.card-background {
  background-image: url('../assets/operation-bg.png');
  background-size: cover;
  background-position: center;
}

.howItWorks {
  text-align: center;
  margin-top: 50px;
}

/* .howItWorks p {
  margin-bottom: 120px;
} */

.howItWorksCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5%;
  gap: 13px;
  min-height: 70vh;
  width: 100%;
}

.howItWorksCard .demo h3 {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 900;
  color: #FFFFFF;
}

.howItWorksCard .demo p {
  font-size: 16px;
  /* margin-bottom: 1.2rem; */
  font-weight: 400;
  color: #D4D6D9;

}

.demo {
  width: 24%;
  height: 230px;
  border-radius: 18px;
  padding: 34px 24px;
  position: relative;
  z-index: 10;
}
.demo2 {
  background-color: #E43E2B;
}

.demo2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30%;
  width: 30.2%;
  height: 70px;
  border-top: 1px solid #4F4F4F;
  border-left: 0px solid #4F4F4F;
  border-right: 0px solid #4F4F4F;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.demo svg {
  position: absolute;
  left: 0%;
  top: 0%
}
.customize::after,
.demo2::after {
  content: "";
  position: absolute;
  bottom: -29.99%;
  left: 50%;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #4F4F4F;
  border-left: 1px solid #4F4F4F;
  border-right: 1px solid #4F4F4F;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  transition: background-color 0.3s ease-in-out;
}

.subscribe {
  background-color: #3B7DED;
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  top: -29.99%;
  left: 50%;
  width: 100%;
  height: 70px;
  border-top: 1px solid #4F4F4F;
  border-left: 1px solid #4F4F4F;
  border-right: 1px solid #4F4F4F;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.customize {
  background-color: #4F4F4F;
}

.access {
  background-color: #2BA24C;

}

.access::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30%;
  width: 30.2%;
  height: 70px;
  border-top: 1px solid #4F4F4F;
  border-left: 0px solid #4F4F4F;
  border-right: 0px solid #4F4F4F;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.why-us h2 {
  font-size: 40px;
  color: #fff;
}
.why-us p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}
/* Pricing */
.pricing-heading {
  font-size: 50px ;
  margin-bottom: 1rem;
  font-weight: 750;
  line-height: 1.2;
  color: #4f4f4f;
}
.pricing .no-outline {
  border: none;
}

.pricing .box {
  border: 1px solid #3B7DED;
  border-radius: 28px;
  height: auto;
  padding: 35px;
  padding-bottom: 30px;
}
.pricing .green {
  border: 1px solid #448C74 !important;
  padding: 60px;
}
.pricing .plan {
  padding-bottom: 60px; 
}
.pricing .btn {
  margin-top: 60px; 
  margin-bottom: 20px; 
  padding: 12px;
  background: transparent;
  border-radius: 12px;
  color: #3B7DED;
  border: 1px solid #3B7DED;
}
.pricing .red{
  background-color: #E43E2B;
  color: #fff;
  border: 1px solid #E43E2B;
}
.pricing .list-unstyled li{
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 350;
}
.pricing .list-unstyled i{
  font-size: 1.1rem;
  color: #3B7DED;
  
}
/* Dashboard area styling */
.dashboard {
  background: linear-gradient(#09285D, #020A17);
  height: 80vh;
  border-radius: 28px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.dashboard img {
  max-width: 100%;
  height: auto;
  right: -50px; 
}
.dashboard .display-4{
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 30px;
}
.dashboard .btn{
  padding: 12px;
  width: 40%;
}
/* Footer styling start here */
footer {
  background-color: #05204a;
  color: #fff;
  padding: 40px 0;
}

footer img {
  margin-bottom: 20px;
}

footer h5 {
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
}

footer .form-control {
  margin-bottom: 10px;
}

footer .btn {
  width: 100px;
}
footer .input {
  position: relative;
  border: none;
  outline: none;
}
footer .form-control {
  padding: 20px;
  border: none;
  outline: none;
}
footer .submit {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 72%;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons .fa {
  margin: 0 10px;
}
.copyright {
  float: right;
   font-weight: 400;
}

.pop {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 9rem;
  animation: pop-up-animation 0.4s ease-in-out forwards;
}
.hidden {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 9rem;
  animation: bounce-down 0.4s ease-in forwards;
}
.gridPopUp {
  width: 85%;
  background: #fff;
  min-height: 55vh;
  margin-top: 8.5rem;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 4rem 8rem;
  box-shadow: 0 -6px 12px -6px rgba(0, 0, 0, 0.2);
}

.mb-pop {
  display: none;
}
.gridPopUp a {
  text-decoration: none;
}

.gridPopUp .box,
.gridPopUp .box1 {
  display: flex;
  background: #F7F7F7;
  border-radius: 0.625rem;
  padding: 2rem 1rem;
  gap: 2rem;
}

.gridPopUp .box {
  height: 175px;
}

.gridPopUp .box1 {
  background: #F9F9F9;
  cursor: pointer;
}

.box svg {
  color: rgb(190, 189, 189);
}
.box div h4,
.box1 div h4 {
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(190, 189, 189);
}

.box div span,
.box1 div span {
  color: rgb(190, 189, 189);
  font-size: 1rem;
}

.box1 div h4 {
  color: #353535;
}
.arrow-span {
  display: none;
}

#customer {
  margin-top: 2rem;
}
/* animation for popup */

@keyframes pop-up-animation {
  0%{
    transform: translateY(100%) ;
    opacity: 0
  }
 
  100%{
    transform: translateY(0) ;
    opacity: 1
  }
  
}
@keyframes bounce-down{
  0%{
    transform: translateY(0) ;
    opacity: 1
  }
 
  100%{
    transform: translateY(100%) ;
    opacity: 0
  }
  
}


@media screen and (max-width: 481px){ 

.productPop {
  width: 120%;
  background-image: url(./assets/back.png);
  display: flex;
  flex-direction: column;
  right: 1%;
  top: 0; 
  padding: 2rem 1.5rem;
  padding-right: 1rem;
  row-gap: 1.7rem;
  column-gap: 3rem;
  box-shadow: 0 2px 23px rgba(0,0,0, 0.2);
}

.productPop .box2 div h2 {
  font-size: 1.2rem;
}

.productPop::before {
  content: '';
  position: absolute;
  top: -2rem;
  left: 3rem;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0 solid #fff;
}
.gridPopUp {
  width: 80%;
  background: #fff;
  /* min-height: 75vh; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 0rem;
  right: 30%;
  padding: 2rem 1rem;
  background-image: url(./assets/back.png);
}

.gridPopUp .box, .gridPopUp .box1 {
  display: flex;
  border-radius: 0.625rem;
  padding: 1rem 0rem;
  gap: 1rem;
  background: inherit;
}
.gridPopUp .box .aroow,
.gridPopUp a .box1 .aroow {
  display: none;
}
.p-5 {
  padding: 2rem!important;
}

/* .hero2 {
  height: 85vh;
} */
/* .inventWhyUs .whyusPt1 {
  padding: 8rem 6rem 8rem 6rem;
} */
/* .inventWhyUs .whyusPt1 h1 {
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 3.8rem;
} */
.box div h4, .box1 div h4 {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;

}
#customer {
  margin-top: 8rem;
}
}


@media screen and (max-width: 481px) { 

  .howItWorksCard {
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
    gap: 13px;
    align-items: flex-start;;
}

.demo {
  width: 70%;
}
.access,
.subscribe {
  margin-left: 20%;
}

.customize::after, .demo2::after {
  content: "";
  position: absolute;
  /* bottom: 2%; */
  left: 100%;
  width: 10%;
  height: 270px;
  border-bottom: 0px solid #c0bebe;
  border-left: 0px solid #c0bebe;
  border-right: 1px solid #c0bebe;
  border-top: 1px solid #c0bebe;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -10%;
  width: 10%;
  height: 220px;
  border-top: 1px solid #c0bebe;
  border-left: 1px solid #c0bebe;
  border-right: 0px solid #c0bebe ;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.demo2::before {
  display: none;
}

.access::after {
  display: none;
}

.mb-pop.mb-hid {
  display: flex;
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.arrow-span  {
  display: flex;
  color:#3B7DED;
  font-size: 1rem;
  padding-left: 0.4rem
}

.arrow-span i {
  color:#3B7DED;
  font-size: 1rem;
}
.arrow-span .blu {
  color: rgb(190, 189, 189)
}
}
