/* hero section */

.hero2 {
    height: 75vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18rem;
}

.hero2 h1 {
    font-size: 3rem;
}
 
/* inventory Navbar section */
.inventoryheader{
    margin-top: 3rem;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.logo4 {
    margin-left: 7rem;
    display: flex;
    align-items: center;
}

.logo4 span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-text {
    color: #F4F5F7;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }

  .links {
    /* display: flex; */
    /* justify-content: flex-start;
    align-items: center; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    list-style: none;
  }
  /* .links.show2 {
    background: #fff;
    width: 100%;
    padding: 0.4rem 1rem;
  } */

  .nav-text {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* width: 100%; */
}

/*.nav-text span.show3 {
    border-bottom: 1px solid #4F4F4F;
    color: #FAFAFA;
    font-weight: 900;
    margin-left: 50%;
    font-size: 1.2rem;
    width: 50%;
}*/ 
.nav-text span.show3 i {
    color: #FAFAFA;
}

.hidden {
    display: none;
}


.box2 {
    display: flex;
    gap: 10px;
}

.icon svg {
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
} 

.drop-content {
    display: flex;
    flex-direction: column;
}

.h4 {
    font-weight: bold;
    margin-bottom: 2px;
}

.list {
    padding: 0;
    margin: 0;
}



.navbar-text {
    color: #F4F5F7;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }

  .show {
    width: 75vw;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 6rem;
    background: #fff;
    padding: 2rem 2rem;
    padding-top: 0rem;
    right: 30%;
    flex-direction: column;
    border: 3px solid grey;
    border-radius: 0.5rem;
    /* margin-right: 50%; */
  }
  .show .popFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    row-gap: 1rem;
    column-gap: 1rem;
    background: #FAFAFA;
  }
  .show .feature2 {
    color: #2D3339;
    text-align: right;
    padding: 1.5rem 2rem;
    padding-right: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #FFFFFF;
  }

  .show .popFeatures .box2 {
    background: #FFFFFF;
    border-radius: 0.625rem;
    padding: 1rem 1rem;
    /* gap: 2rem; */
  }
  
  .box2 h4 {
    font-weight: 700;
    font-size: 18px;
    color:black;
  }
  
  .box2 span {
    color: black;
    font-size: 15px;
  }


  /* cards for inventory hero section */
  .cardBox {
    width: 80%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .cardContainer {
    display: none;
  }
  .bg {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
border-radius: 0.5rem;
    padding: 2rem 3rem;
    text-align: center;
    width: 32.5%;
    height: 300px;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.2);

  }

  
  .bg p {
    color: #5C6C7B;
    font-size: 1rem;
    font-weight: 400;
  }

  .bg h5 {
    color: #293241;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  .bg2 {
    margin-top: 3rem;
    background: #293241;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    border-bottom: 6px solid #3B7DED;
    color: #EDF0F3;
    padding: 2rem 3rem;
    text-align:center;
    width: 30%;
    height: 300px;
    
  }

  .bg2 h5 {
    color: #fff;
    margin-bottom: 1.5rem;
  }
  .bg2 p {
    color: #EDF0F3;
    font-size: 1rem;
    font-weight: 400;
  }
.bg .svg, .bg2 .svg {
    margin-bottom: 1.5rem;
}
  

/* why us section */

.inventWhyUs {
    width: 100%;
    display: flex;
    min-height: 75vh;
    background: #fff;
    margin-bottom: 6rem;
}

.inventWhyUs .whyusPt1 {
    width: 50%;
    padding: 10rem 8rem 10rem 9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.inventWhyUs .whyusPt2  {
    width: 50%;
    background: #3B7DED;
    padding: 10rem 4rem 10rem 7rem;
}

.inventWhyUs .whyusPt1 h1 {
    color: #293241;
    font-size: 3.2rem; 
    font-weight: 700;
     line-height: 3.8rem;
}
.inventWhyUs .whyusPt2 span{
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
   font-weight: 700;
}
.inventWhyUs .whyusPt2 h2 {
    margin-bottom: 4rem;
}

.inventWhyUs  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 0;
}


.inventWhyUs  ul li {
    color: #D4D6D9;
    font-size: 1.125rem;
    text-align: left;;
    display: flex;
    align-items: center;
    line-height: 3rem;
    font-weight: 500;
}
.inventWhyUs  ul li svg {
    margin-right: 1rem;
}

/* main nav bar */

header {
    width: 100%;
    display: flex;
    padding: 0.8rem 8rem;
    justify-content: space-between;
    align-items: center;
   
}

.bx-menu {
    display: none;
}
.nav-text {
    color: #F4F5F7;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    /*width: 200px;*/
}
.nav-text span {
    display: flex;
    align-items: center;
}

header .navBarsect1 {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
header a {
    width: 15%;
}
header a img {
    width: 100%;
}
header .navBarsect1  .links2 {

    display: flex;
    list-style: none;
}
header .navBarsect1  .links2  li {
    padding: 1rem;
    display: flex;
    align-items: center;
}

header .navBarsect1  .links2  li a {
    text-decoration: none;
    font-size: 0.935rem;
    color: #4F4F4F;
}

.btns-nav {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.btns-nav .btn1 ,
.btns-nav .btn2 {
    background: #fff;
    outline: none;
    border: 1px solid #4F4F4F;
    font-size: 0.935rem;
    border-radius: 1rem;
    padding: 0.5rem 2.3rem;
}
.btns-nav .btn1 a,
.btns-nav .btn2 a {
    text-decoration: none;
    color: #333333;
}
.btns-nav .btn2  {
 background: #4F4F4F;
 border: none;
}

.btns-nav .btn2 a {
    color: #EAE9E9;
}

/* produuct pop up */

.productPop {
    position: absolute;
    top: 6.2rem;
    width: 55%;
    background: #fff;
    border-radius: 1.5rem;
    z-index: 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 1.5rem ;
    padding-right: 2.5rem;
    row-gap: 2rem;
    column-gap: 3rem;
    box-shadow: 0 2px 23px rgba(0,0,0, 0.2);


}
.productPop a {
    width: 100%;
}
.productPop .box2 {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
.productPop a .box2 div,
.productPop .box2 div {
    margin-left: 2rem;
}

.productPop a .box2 div h4,
.productPop .box2 div h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

}
.productPop .box2 div h4 span {

    font-size: 1.1rem;
    font-weight: 700;
    color: #353535;
}
.productPop .box2 div span {
    font-size: 1rem;
    font-weight: 400;
    color: #353535;
}

.productPop .box2  h4 i {
    color: #3B7DED;
    font-size: 2rem;
}
.productPop .box3 .box2.hidden2 {

    display: none
}


.coming {
    display: none;
}
.coming.hide {
    display: flex;
}

.links2 li i:hover {
    cursor: pointer;
}

.productPop::before {
    content: '';
    position: absolute;
    top: -2rem;
    left: 3rem;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 2rem solid #fff;
  }

  .productPop .box2 div h2 {
    font-size: 1.2rem;
    color: #7E2218;
    font-weight: 600;
  }


  @media screen and (max-width: 490px) {
    .logo4 {
        margin-left: 0;
        display: flex;
        align-items: center;
    }

    .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: 10%;
        list-style: none;
    }

    .inventoryheader {
        padding: 0 1.5rem;
        width: 100%;
    }
    header {
      padding: 1rem 2rem;
      position: relative;
      top: 0;
      z-index: 20;
    }
    header .navBarsect1 {
        position: absolute;
        width: 60vw;
        flex-direction: column;
        background: #fff;
        height: 60vh;
        top: 100%;
        right: -100%;
        padding: 1rem 1rem;
        z-index: 1000;
        transition: 0.5s ease;
    }
    header .navBarsect1.active {
        right: 0%;
        background-image: url(../assets/back.png);
    }
    header .navBarsect1  .links2{
        flex-direction: column;

    }
    header a {
        width: 20%;
    }
    header a  img {
        width: 100%;
    }
  
    .btns-nav {
       flex-direction: column;
        gap: 0rem;
    }
    .btns-nav .btn1, .btns-nav .btn2 {
        font-size: 0.9rem;
        border-radius: 1rem;
        padding: 0.5rem 3rem;
        margin-bottom: 1rem;
    }

    .bx {
        display: flex;
    }
  }

  @media screen and (max-width: 481px) {
   .navbar-text {
       font-size: 1rem;
   }

   .nav-text span {
    display: flex;
    cursor: pointer;
   }

   .hero2 {
       
       margin-bottom: 3rem;
   }
  
   .cardContainer {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 100px;
   }

   .hero2 h1 {
    font-size: 28px;
   }

   

   .cardBox {
       display: none;
       flex-direction: column;
       align-items: center;
   }
   .bg, .bg2 {
       width: 80%;
   }
   .bg2 {
       margin-top: 2rem;
       margin-bottom: 2rem;
   }
   .inventWhyUs {
       flex-direction: column;
       align-items: left;
   }
   .inventWhyUs .whyusPt1 {
       width: 100%;
       padding: 1.5rem 2rem;
       align-items: left;
   }

   .inventWhyUs .whyusPt1 h1 {
       font-size: 28px;
       font-weight: 900;
       line-height: 36.4px;
       margin-bottom: 2rem;
   }

   .inventWhyUs .whyusPt1 p {
       font-size: 20px !important;
   }
   .inventWhyUs .whyusPt2 {
       width: 100%;
       padding: 5rem 2rem;
       align-items: left;
       font-size: 24px;
   }
   .inventWhyUs .whyusPt2 span {
       margin-bottom: 2rem;
       padding: 0.5rem;
       border-radius: 0.5rem;
       font-weight: 700;
   }
   .inventWhyUs .whyusPt2 h2 {
       margin-bottom: 4rem;
       font-size: 24px !important;
   }
   .inventWhyUs ul {
       list-style: none;
       display: flex;
       flex-direction: column;
       justify-content: left;
       padding-left: 0;
   }
   .inventWhyUs ul li {
       color: #D4D6D9;
       font-size: 1.125rem;
       text-align: left;
       display: flex;
       align-items: center;
       /* line-height: 3rem; */
       font-weight: 500;
   }
   .inventWhyUs ul li svg {
       margin-right: 1rem;
   }
   .NavBar .navBarsect1 ul li a {
       font-size: 0.935rem;
   }

   .productPop {
       width: 100%;
       padding: 3.6rem 1.5rem;
       padding-right: 3rem;
       row-gap: 2rem;
       column-gap: 4rem;
   }
   .productPop .box2 {
       display: flex;
       justify-content: left;
       cursor: pointer;
   }
   .productPop .box2 div {
       margin-left: 2rem;
   }

    .show {
         display: grid;
         grid-template-columns: 1fr;
         right: 20%;

    }

    .show .feature2 {
        display: none;
    }

    .show .popFeatures{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
  
   .footer-stuff {
       display: flex;
       flex-direction: column;
   }

}
